@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Water+Brush&display=swap');

/* Modify Default Styling & Font */

root {
    background-color: #EFEFEF;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-style: normal;
    font-family: 'Oxygen', sans-serif;
}

/* START -> HEADER */

/* Navigation Bar */

nav {
    min-height: 7rem;
    padding: 0 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #043263;
}

#company-logo {
    font-family: 'Water Brush', cursive;
    font-size: 2.8rem;
    letter-spacing: .5rem;
    min-width: 22rem;
    text-align: center;
    color: white;
}

#company-logo-span {
    display: block;
    font-size: 1rem;
    letter-spacing: .1rem;
    position: relative;
    top: -.8rem;
}


#main-header-navlinks {
    width: 35rem;
    padding-left: 1rem;
    margin-left: auto;
    margin-right: 0;
}

@media screen and (max-width: 991px) {
    #main-header-navlinks {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

#main-header-navlinks > li {
    margin-left: 2.5%;
}

.nav-link {
    font-size: 1.1rem;
    color: white;
}

/* MAIN HEADER SECTION */

#main-header-section {
    background-color: #24a19d6d;
    height: 35rem;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#tagline {
    font-size: 2.8rem;
    min-width: 35rem;
}

.tagline-span {
    display: block;
}

#tagline-travel-asia {
    text-align: center;
    font-family: 'Water Brush', cursive;
    font-size: 6rem;
}

#tagline-travel-with-us {
    text-align: end;
    position: relative;
    top: -1.2rem;
}

#hero-video {
    max-width: 40%;
    border-radius: 10px;
    margin-left: 3rem;
}

@media screen and (max-width: 1990px) {
    #hero-video {
        min-width: 39rem;
    }
}

#trustpilot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1.5rem;
}

.trustpilot-rating {
    font-size: 1rem;
    letter-spacing: .1rem;
}

.trustpilot-stars {
    width: 8.5rem;
}

.trustpilot-based-on {
    font-size: .7rem;
}

.trustpilot-logo {
    width: 5rem;
}

/* END --> HEADER */

/* START --> "WHAT WE OFFER" SECTION */

#what-we-offer-section {
    height: 22rem;
    background-color: ;
    padding: 2% 10%;
}

#what-we-offer-heading {
    text-align: center;
}

#what-we-offer-outer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.what-we-offer-inner-wrapper {
    text-align: center;
    margin: 1.2rem 0;
    width: 40%;
    padding: 0 1rem;
}

/* END --> "WHAT WE OFFER" SECTION */

/* START --> "TOP DESTINATIONS" SECTION */

#top-destinations-section {
    background-color: ;
    height: 45rem;
    padding: 2% 20%;
}

#top-destinations-heading {
    text-align: center;
}

#images-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 36rem;
    align-items: center;
}

.top-destination-image {
    border: 1px solid black;
    display: block;
    height: 14rem;
    width: 14rem;
    margin: 0 4rem;
}

#more-destinations-wrapper {
    text-align: center;
}

#more-destinations-wrapper > a {
    display: inline-block;
    border: 0.5px solid black;
    background-color: ;
    width: 14rem;
    height: 2rem;
    border-radius: 5px;
    line-height: 2rem;
}

/* END --> "TOP DESTINATIONS" SECTION */

/* START --> "WHAT OUR CLIENTS SAY ABOUT US" SECTION */

#reviews-section {
    padding: 2% 10%;
    background-color: ;
    height: 20rem;
}

#reviews-heading {
    text-align: center;
}

#reviews-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

#reviews-container > article {
    width: 25rem;
    border: 1px solid black;
    padding: 1rem;
    margin: 0 1rem;
}

.review-author {
    display: block;
    margin-top: 1rem;
}

/* END --> "WHAT OUR CLIENTS SAY ABOUT US" SECTION */

/* START --> "WHO WE ARE" SECTION */

#who-we-are-section {
    padding: 2% 10%;
    background-color: ;
    min-height: 15rem;
}

#who-we-are-heading {
    text-align: center;
}

#who-we-are-heading ~ p {
    width: 50%;
    margin: 0 auto;
    line-height: 2rem;
}

#contact-us-wrapper {
    text-align: center;
}

/* Contact Us Button */
#contact-us-wrapper > a {
    display: inline-block;
    border: 0.5px solid black;
    background-color: rgb(181, 244, 223);
    width: 14rem;
    height: 2rem;
    border-radius: 5px;
    line-height: 2rem;
}

/* END --> "WHO WE ARE" SECTION */

/* START --> "SUBSCRIBE TO OUR NEWSLETTER" SECTION */

#newsletter-section {
    padding: 2% 10%;
    background-color: ;
    min-height: 10rem;
}

#newsletter-heading {
    text-align: center;
}

#newsletter-form {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid darkblue;
    max-width: 40%;
    margin: 3rem auto;
}

#newsletter-form > input {
    width: 25rem;
    border-radius: 5px;
    padding: 0 .5rem;
    line-height: 2rem;
}

/* END --> "SUBSCRIBE TO OUR NEWSLETTER" SECTION */

/* START --> "FOOTER" */

footer {
    padding: 3rem 10%;
    background-color: #1A385A;
    color: #EFEFEF;
    display: grid;
    grid-template-columns: 30% 35% 35%;
    grid-auto-rows: minmax(auto);
    grid-template-areas:
        'map address social-media'
        'copyright copyright copyright';
}

/* map */

#map-wrapper {
    grid-area: map;
}

#main-office-map {
    border-radius: 10px;
}

/* office address */

#office-address-wrapper {
    grid-area: address;
    padding: 2rem 1rem;
}

#address-inner-wrapper {
    margin-top: 2rem;
}

#address-inner-wrapper > * {
    margin-bottom: 1.5rem;
}

.where-to-find-us {
    display: inline-block;
    margin-left: 1.2rem;
    color: white;
    text-decoration: none;
}

.where-to-find-us:hover:not(:first-child) {
    color: #24a19d6d;
}

#office-address-label {
    font-weight: bold;
}

/* social media */

#social-media-wrapper {
    grid-area: social-media;
    padding: 2rem 1rem;
}

#social-media-label {
    font-weight: bold;
}

#social-media-inner-wrapper {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
}

#social-media-inner-wrapper > a {
    color: inherit;
}

.fa-brands {
    font-size: 2.5rem;
}

.fa-brands:hover {
    color: #24a19d6d;
}

/* copyright */
.main-wrapper-copyright {
    grid-area: copyright;
    margin: 0 auto;
}

.main-wrapper-copyright small {
    font-size: 1rem;
}

#main-office-map {
    width: 300px;
    height: 300px;
}

@media screen and (max-width: 1259px) {
    footer {
        grid-template-columns: 50% 50%;
        grid-auto-rows: minmax(auto);
        grid-template-areas: 
            'map address'
            'social-media social-media'
            'copyright copyright';
    }

    #map-wrapper {
        grid-area: map;
        text-align: center;
    }

    #office-address-wrapper {
        grid-area: address;
    }

    #social-media-wrapper {
        grid-area: social-media;
    }

    #social-media-label {
        text-align: center;
    }

}


/* END --> "FOOTER" */