@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Oxygen:wght@300;400;700&display=swap');


/* Modify Default Styling & Font */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-style: normal;
    font-family: 'Oxygen', sans-serif;
}

/* START -> HEADER */

/* Navigation Bar */

nav {
    border: 1px solid blue;
    height: 3rem;
    padding: 0 2rem;
}

#company-logo {
    float: left;
}

#logo-span {
    display: block;
}

#main-header-navlinks {
    float: right;
}

#main-header-navlinks > li {
    display: inline-block;
    line-height: 3rem;
}

#main-header-navlinks li:not(:last-child) {
    margin-right: 1.5rem;
}

/* MAIN HEADER SECTION */

#main-header-section {
    border: 1px solid green;
    height: 18rem;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.tagline-span {
    display: block;
}

#tagline-travel-asia {
    margin-left: 5rem;
}

#tagline-travel-with-us {
    margin-left: 10rem;
}

#trustpilot {
    position: absolute;
    bottom: 1rem;
}

/* END --> HEADER */

/* START --> "WHAT WE OFFER" SECTION */

#what-we-offer-section {
    height: 22rem;
    border: 1px solid darkblue;
    padding: 2% 10%;
}

#what-we-offer-heading {
    text-align: center;
}

#what-we-offer-outer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.what-we-offer-inner-wrapper {
    text-align: center;
    margin: 1.2rem 0;
    width: 40%;
    padding: 0 1rem;
}



/* END --> "WHAT WE OFFER" SECTION */