/* Imported fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Water+Brush&display=swap');

/* Customized Variables */
:root { 
    --clr-indigo: #17355e;
    --clr-sea-blue: #006699;
    --clr-blue-sapphire:#166a89;
    --clr-diamond: #c5eff7;
    --clr-water: #cbf2ff;
    --clr-khaki: #eede92;
    --clr-dutch-white: #f0e6b9;
    --clr-silver-foil: #babaa6;
}

/* Modify Default Styling & Font */

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

* {
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Utility */

.center-text {
    text-align: center;
}
.align-self-center {
    align-self: center;
}

/* general button styling */
.section-button > a,
.submit-button {
    background-color: var(--clr-sea-blue);
    border: 0.5px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 3rem;
    text-decoration: none;
    height: 3rem;
    width: 20rem;
}

@media screen and (max-width: 435px) {
    .section-button > a,
    .submit-button {
        width: 80%;
    }
}

/* general button hover styling */
.section-button > a:hover,
.submit-button:hover {
    background-color: white;
    border: 3px solid var(--clr-sea-blue);
    color: var(--clr-sea-blue);
    line-height: 2.7rem;
}

/* START -> HEADER */

/* Navigation Bar */
nav {
    background-color: var(--clr-sea-blue);
    display: flex;
    align-items: center;
    column-gap: 5rem;
    justify-content: space-between;
    min-height: 7rem;
    padding: 0 4%;
}

@media screen and (max-width: 869px) {
    nav {
        column-gap: 2.1rem;
    }
}

@media screen and (max-width: 715px) {
    nav {
        flex-direction: column;
        justify-content: space-evenly;
        min-height: 9.5rem;
    }
}

@media screen and (max-width: 420px) {
    nav {
        justify-content: center;
        min-height: 9rem;
        row-gap: .5rem;
    }
}

/* company logo */
#company-logo {
    color: white;
    font-family: 'Water Brush', cursive;
    font-size: 2.8rem;
    letter-spacing: .5rem;
    text-align: center;
    min-width: 20.2rem;
}

@media screen and (max-width: 869px) {
    #company-logo {
        font-size: 2.3rem;
        letter-spacing: .3rem;
        min-width: 16rem;
    }
}

@media screen and (max-width: 420px) {
    #company-logo {
        font-size: 2rem;
        letter-spacing: .2rem;
        margin: 0 auto;
        width: 100%;
    }
}

#company-logo:hover {
    color: var(--clr-khaki);
    text-shadow: 2px 1px var(--clr-indigo);
}

#company-logo-span {
    display: block;
    font-size: 1rem;
    letter-spacing: .1rem;
    position: relative;
    top: -.8rem;
}

@media screen and (max-width: 869px) {
    #company-logo-span {
        font-size: .9rem;
    }
}

/* nav links */
#main-header-navlinks {
    display: flex;
    column-gap: 1rem;
    justify-content: space-between;    
    width: 35rem;
}

@media screen and (max-width: 715px) {
    #main-header-navlinks {
        width: 90%;
    }
}

@media screen and (max-width: 420px) {
    #main-header-navlinks {
        column-gap: .3rem;
        width: 100%;
    }
}

/* navbar menu link styling*/

.nav-link {
    color: white;
    font-size: 1.1rem;
}

@media screen and (max-width: 869px) {
    .nav-link {
        font-size: 1rem;
    }
}

@media screen and (max-width: 420px) {
    .nav-link {
        font-size: .8rem;
    }
}

.nav-link:hover {
    position: relative;
    top: .5rem;
    color: var(--clr-khaki)!important;
}

/* active navbar link styling */
.active {
    border: 1px solid;
    border-radius: 10px ;
    padding: .3rem .8rem;
}

@media screen and (max-width: 690px) {
    .active {
        padding: .2rem .5rem;
    }
}


/* Main Header Section - Banner */

#main-header-section {
    background-color: #134952;
    background-image: url(../media/images/banner-bg-maldives.jpg);
    background-size: 100%;
    background-position: center;
    height: 35rem;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 1559px) {
    #main-header-section {
        background-image: url(../media/images/banner-bg-maldives-1559.jpg);
        height: 30rem;
        padding: 0 6%;
    }
}

@media screen and (max-width: 1360px) {
    #main-header-section {
        background-image: url(../media/images/banner-bg-maldives-1360.jpg);
        justify-content: center;
    }
}

@media screen and (max-width: 1024px) {
    #main-header-section {
        background-image: url(../media/images/banner-bg-maldives-1024.jpg);
    }
}

@media screen and (max-width: 720px) {
    #main-header-section {
        background-image: url(../media/images/banner-bg-maldives-720.jpg);
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    #main-header-section {
        background-image: url(../media/images/banner-bg-maldives-480.jpg);
    }
}


/* tagline - banner */

#tagline {
    color: whitesmoke;
    font-size: 2.8rem;
    font-weight: 400;
    text-shadow: 0 2px 1rem var(--clr-blue-sapphire);
    z-index: 3;
}

@media screen and (max-width: 1830px) {
    #tagline {
        font-size: 2.6rem;
    }
}

@media screen and (max-width: 1360px) {
    #tagline {
        font-size: 2.4rem;
        position: absolute;
        top: 8rem;
        text-shadow: 0 5px .5rem var(--clr-indigo);
    }
}

@media screen and (max-width: 720px) {
    #tagline {
        font-size: 2rem;
        top: 20%;
    }
}

@media screen and (max-width: 500px) {
    #tagline {
        font-size: 1.6rem;
        top: 20%;
    }
}

@media screen and (max-width: 390px) {
    #tagline {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 1.3rem;
        top: 12%;
    }
}

.tagline-span {
    display: block;
}

#tagline-travel-in-style {
    position: relative;
    left: -5rem;
    top: -2rem;
}

@media screen and (max-width: 1830px) {
    #tagline-travel-in-style {
        left: -4rem;
    }
}

@media screen and (max-width: 1360px) {
    #tagline-travel-in-style {
        left: -3rem;
    }
}

@media screen and (max-width: 500px) {
    #tagline-travel-in-style {
        top: -1rem;
        left: -2rem;
    }
}

@media screen and (max-width: 390px) {
    #tagline-travel-in-style {
        position: static;
        margin-bottom: .5rem;
    }
}

#tagline-travel-asia {
    text-align: center;
    font-family: 'Water Brush', cursive;
    font-size: 12rem;
    font-weight: 100;
}

@media screen and (max-width: 2000px) {
    #tagline-travel-asia {
        font-size: 10rem;
    }    
}

@media screen and (max-width: 1830px) {
    #tagline-travel-asia {
        font-size: 7rem;
    }
}

@media screen and (max-width: 720px) {
    #tagline-travel-asia {
        font-size: 5rem;
    }    
}

@media screen and (max-width: 500px) {
    #tagline-travel-asia {
        font-size: 4rem;
    }    
}

@media screen and (max-width: 390px) {
    #tagline-travel-asia {
        font-size: 3rem;
    }    
}

#tagline-travel-with-us {
    text-align: end;
    position: relative;
    top: -1rem;
    right: -5rem;
}

@media screen and (max-width: 1830px) {
    #tagline-travel-with-us {
        top: .5rem;
        right: -3rem;
    }
}

@media screen and (max-width: 500px) {
    #tagline-travel-with-us {
        right: -2rem;
        top: 0;
    }
}

@media screen and (max-width: 390px) {
    #tagline-travel-with-us {
        position: static;
    }
}

#hero-video {
    border-radius: 30px;
    box-shadow: 0 0 40px 10px #9f8f4f8f;
    max-width: 40%;
    opacity: 75%;
    z-index: 2;
}

@media screen and (max-width: 1990px) {
    #hero-video {
        min-width: 39rem;
    }
}

@media screen and (max-width: 720px) {
    #hero-video {
        border-radius: 0;
        box-shadow: none;
        position: static;
        min-width: 120%;
    }
}

#trustpilot {
    background-color: rgba(255, 255, 255, 0.425);
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 5rem;
    bottom: 1rem;
    width: 9rem;
    height: 9rem;
    z-index: 1;
}

@media screen and (max-width: 1559px) {
    #trustpilot {
        left: 2rem;
    }
}

@media screen and (max-width: 980px) {
    #trustpilot {
        height: 7rem;
        width: 7rem;
    }
}

@media screen and (max-width: 550px) {
    #trustpilot {
        bottom: .4rem;
        left: .5rem;
        height: 6rem;
        width: 6rem;
    }
}

@media screen and (max-width: 360px) {
    #trustpilot {
        height: 4.2rem;
        width: 4.2rem;
    }
}

.trustpilot-rating {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .1rem;
}

@media screen and (max-width: 980px) {
    .trustpilot-rating {
        font-size: .6rem;
        margin-bottom: .2rem;
    }
}

@media screen and (max-width: 360px) {
    .trustpilot-rating {
        font-size: .39rem;
        margin-bottom: .2rem;
    }
}

.trustpilot-stars {
    width: 8.5rem;
}

@media screen and (max-width: 980px) {
    .trustpilot-stars {
        width: 5rem;
    }
}

@media screen and (max-width: 360px){
    .trustpilot-stars {
        width: 3rem;
    }
}

.trustpilot-based-on {
    font-size: .7rem;
    margin-bottom: .5rem;
}

@media screen and (max-width: 980px) {
    .trustpilot-based-on {
        font-size: .4rem;
        margin-bottom: .2rem;
    }
}

@media screen and (max-width: 360px){
    .trustpilot-based-on {
        font-size: .4rem;
    }
}

.trustpilot-logo {
    width: 5rem;
}

@media screen and (max-width: 980px) {
    .trustpilot-logo {
        width: 3rem;
    }
}

@media screen and (max-width: 360px){
    .trustpilot-logo {
        width: 2.5rem;
    }
}

/* END --> HEADER */

/* START --> "WHAT WE OFFER" SECTION */

#what-we-offer-section {
    background-color: var(--clr-dutch-white);
    box-shadow: 0 0 5px 5px var(--clr-silver-foil);
    padding: 3rem 10%;
}

@media screen and (max-width: 1290px) {
    #what-we-offer-section {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 800px) {
    #what-we-offer-section {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 590px) {
    #what-we-offer-section {
        padding-left: 2%;
        padding-right: 2%;
    }
}

#what-we-offer-heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 390px) {
    #what-we-offer-heading {
        font-size: 1.7rem;
    }
}


#what-we-offer-outer-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: space-around;
    margin-top: 2rem;
}

@media screen and (max-width: 590px) {
    .what-we-offer-outer-wrapper {
        flex-direction: column;
    }
}

.what-we-offer-inner-wrapper {
    background-color: var(--clr-blue-sapphire);
    border-radius: 10px;
    color: #ffff;
    margin: 1.2rem 0;
    padding: 1.5rem 2rem;
    text-align: center;
    width: 36%;
}

@media screen and (max-width: 1290px) {
    .what-we-offer-inner-wrapper {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    .what-we-offer-inner-wrapper {
        margin-top: .8rem;
        margin-bottom: .5rem;
        width: 80%;
    }
}

@media screen and (max-width: 590px) {
    .what-we-offer-inner-wrapper {
        margin: .4rem 0;
        padding: 1.2rem 1.5rem;
        width: 90%;
    }
}

/* item heading - 'what we offer' */
.what-we-offer-inner-wrapper > h3 {
    color: var(--clr-khaki);
    font-size: 1.5rem;
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    .what-we-offer-inner-wrapper > h3 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 390px) {
    .what-we-offer-inner-wrapper > h3 {
        font-size: 1.2rem;
    }
}

/* item text - 'what we offer' */
.what-we-offer-inner-wrapper > p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-top: 1rem;
}

@media screen and (max-width: 900px) {
    .what-we-offer-inner-wrapper > p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 390px) {
    .what-we-offer-inner-wrapper > p {
        font-size: 1rem;
    }
}


/* fontawesome icons */
.fa-solid {
    font-size: 2rem;
    margin-bottom: .5rem;
}

/* END --> "WHAT WE OFFER" SECTION */

/* START --> "TOP DESTINATIONS" SECTION */

#top-destinations-section {
    padding: 3rem 10%;
}

@media screen and (max-width: 2010px) {
    #top-destinations-section {
        padding: 3rem 5%;
    }
}

@media screen and (max-width: 1600px) {
    #top-destinations-section {
        padding: 3rem 1%;
    }
}

@media screen and (max-width: 1400px) {
    #top-destinations-section {
        padding: 3rem 5%;
    }
}

@media screen and (max-width: 625px) {
    #top-destinations-section {
        padding: 3rem 0%;
    }
}

#top-destinations-heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 390px) {
    #top-destinations-heading {
        font-size: 1.7rem;
    }
}


#images-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3rem auto;
    max-width: 120rem;
    row-gap: .5rem;
}

#images-wrapper > a {
    background-color: var(--clr-blue-sapphire);
    border-radius: 10px;
    width: 32%;
}

@media screen and (max-width: 1400px) {
    #images-wrapper > a {
        width: 48%;
    }
}

@media screen and (max-width: 850px) {
    #images-wrapper > a {
        width: 80%;
    }
}

@media screen and (max-width: 720px) {
    #images-wrapper > a {
        width: 90%;
    }
}

@media screen and (max-width: 625px) {
    #images-wrapper > a {
        border-radius: 0;
        width: 100%;
    }
}

#images-wrapper > a:hover {
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgb(2, 54, 80);
    opacity: 0.9;
}

#images-wrapper > a:active {
    opacity: 1;
}

.top-dest-image-box > h3 {          /* label - country name */
    color:rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 400;
    margin: .5rem 0 0 1rem;
    position: absolute;
    text-shadow: 2px 2px 2px #00142a;
    z-index: 2;
}

@media screen and (max-width: 390px) {
    .top-dest-image-box > h3 {
        font-size: 1.5rem; 
    }
}

.top-destination-image {
    border-radius: 10px;
    display: block;
    width: 100%;
} 

@media screen and (max-width: 625px) {
    .top-destination-image {
        border-radius: 0;
    }
}

/* END --> "TOP DESTINATIONS" SECTION */

/* START --> "WHAT OUR CLIENTS SAY ABOUT US" SECTION */

#reviews-section {
    background-color: var(--clr-dutch-white);
    box-shadow: 0 0 5px 5px var(--clr-silver-foil);
    padding: 3rem 8%;
}

@media screen and (max-width: 625px) {
    #reviews-section {
        padding: 3rem 4%;
    }
}

#reviews-heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 520px) {
    #reviews-heading {
        padding: 0 10%;
    }
}

@media screen and (max-width: 390px) {
    #reviews-heading {
        font-size: 1.7rem;
    }
}

#reviews-wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

@media screen and (max-width: 1157px) {
    #reviews-wrapper {
        flex-wrap: wrap;
    }
}

.review-container {
    background-color: var(--clr-khaki);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 var(--clr-indigo);
    padding: 1rem 2rem;
    width: 25%;
}

@media screen and (max-width: 1600px) {
    .review-container {
        width: 40%;
    }
}

@media screen and (max-width: 905px) {
    .review-container {
        width: 80%;
    }
}

@media screen and (max-width: 625px) {
    .review-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        width: 90%;
    }
}

.review-headliner {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .8rem;
}

.review-text {
    font-size: 1.1rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.review-trustpilot-stars {
    width: 5.5rem;
}

.review-author {
    display: block;
    font-weight: 300;
}

/* END --> "WHAT OUR CLIENTS SAY ABOUT US" SECTION */

/* START --> "WHO WE ARE" SECTION */

#who-we-are-section {
    padding: 3rem 10%;
    min-height: 15rem;
}

@media screen and (max-width: 600px) {
    #who-we-are-section {
        padding: 3rem 4%;
    }
}

#who-we-are-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    text-align: center;
}

@media screen and (max-width: 390px) {
    #who-we-are-heading {
        font-size: 1.7rem;
    }
}


/* who we are text content */
#who-we-are-heading ~ p {
    width: 53rem;
    margin: 0 auto 1.2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    text-align: justify;
}

@media screen and (max-width: 1110px) {
    #who-we-are-heading ~ p {
        width: 42rem;
    }
}

@media screen and (max-width: 870px) {
    #who-we-are-heading ~ p {
        font-size: 1.1rem;
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    #who-we-are-heading ~ p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.company-name {
    font-family: 'Water Brush', cursive;
    font-size: 2.5rem;
}

@media screen and (max-width: 600px) {
    .company-name {
        font-size: 2rem;
    }
}

#who-we-are-section p:last-of-type {
    margin-bottom: 2.5rem ;
}

/* END --> "WHO WE ARE" SECTION */

/* START --> "SUBSCRIBE TO OUR NEWSLETTER" SECTION */

#newsletter-section {
    padding: 3rem 18%;
    /* min-height: 10rem; */
    background-color: var(--clr-dutch-white);
    box-shadow: 0 0 5px 5px var(--clr-silver-foil);
}

@media screen and (max-width: 900px) {
    #newsletter-section {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media screen and (max-width: 390px) {
    #newsletter-section {
        padding: 3rem 6%;
    }
}

#newsletter-heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 390px) {
    #newsletter-heading {
        font-size: 1.6rem;
    }
}

#newsletter-form {
    display: flex;
    flex-direction: column;
    width: 35rem;
    margin: 3rem auto 0;
    font-size: 1.2rem;
}
@media screen and (max-width: 900px) {
    #newsletter-form {
        width: 100%;
        font-size: 1rem;
    }
}

#newsletter-form > input {
    border-radius: 5px;
    padding: 0 .5rem;
    line-height: 2rem;
    margin: .5rem 0 2rem;
}

@media screen and (max-width: 800px) {
    #newsletter-form > input {
        max-width: inherit;
    }
}

/* END --> "SUBSCRIBE TO OUR NEWSLETTER" SECTION */

/* START --> "FOOTER" */

/* footer section style */
footer {
    background-color: var(--clr-sea-blue);
    color: #EFEFEF;
    display: grid;
    grid-template-columns: 30% 35% 35%;
    grid-template-areas:
        'map address social-media'
        'copyright copyright copyright';
    padding: 3rem 10%;
    column-gap: 2rem;
}

@media screen and (max-width: 1259px) {
    footer {
        grid-template-columns: 50% 50%;
        grid-template-areas: 
            'map address'
            'social-media social-media'
            'copyright copyright';
    }
}

@media screen and (max-width: 820px) {
    footer {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

/* map */

#map-wrapper {
    grid-area: map;
}

@media screen and (max-width: 1259px) {
    #map-wrapper {
        grid-area: map;
    }
}

@media screen and (max-width: 820px) {
    #map-wrapper {
        width: 100%;
    }
}

#main-office-map {
    border-radius: 10px;
    height: 300px;
    width: 300px;
}

@media screen and (max-width: 820px) {
    #main-office-map {
        width: 100%;
        height: 180px;
    }
}

/* office address */

#office-address-wrapper {
    grid-area: address;
    padding: 2rem 1rem;
    width: 100%;
}

@media screen and (max-width: 1259px) {
    #office-address-wrapper {
        grid-area: address;
    }
}

@media screen and (max-width: 820px) {
    #office-address-wrapper {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 490px) {
    #office-address-wrapper {
        font-size: .9rem;
    }
}

#address-inner-wrapper {
    margin-top: 2rem;
}

@media screen and (max-width: 820px) {
    #address-inner-wrapper {
        margin-top: 1rem;
    }
}

#address-inner-wrapper > * {
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 820px) {
    #address-inner-wrapper > * {
        margin-bottom: .8rem;
    }
}

.where-to-find-us {
    color: white;
    display: inline-block;
    margin-left: 1.2rem;
    overflow-wrap: anywhere;
    text-decoration: none;
}

@media screen and (max-width: 490px) {
    .where-to-find-us {
        display: block;
        margin: 0;
    }
}

.where-to-find-us:hover {
    color: var(--clr-khaki);
}

#office-address-label {
    font-weight: bold;
}

/* social media */

#social-media-wrapper {
    grid-area: social-media;
    padding: 2rem 1rem;
}

@media screen and (max-width: 1259px) {
    #social-media-wrapper {
        grid-area: social-media;
    }
}

@media screen and (max-width: 820px) {
    #social-media-wrapper {
        margin-top: 1rem;
        padding: 1rem 0;
        width: 100%;
    }
}

#social-media-label {
    font-weight: bold;
}

@media screen and (max-width: 1259px) {
    #social-media-label {
        text-align: left;
    }
}

@media screen and (max-width: 490px) {
    #social-media-label {
        font-size: .8rem;
    }
}

#social-media-inner-wrapper {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1259px) {
    #social-media-inner-wrapper {
        justify-content: start;
        gap: 10%;
    }
}

@media screen and (max-width: 820px) {
    #social-media-inner-wrapper {
        margin-top: 1rem;
    }
}

#social-media-inner-wrapper > a {
    color: inherit;
}

.fa-brands {
    font-size: 2.5rem;
}

@media screen and (max-width: 820px) {
    .fa-brands {
        font-size: 2rem;
    }
}

.fa-brands:hover {
    color: var(--clr-khaki);
}

/* copyright */
.main-wrapper-copyright {
    grid-area: copyright;
    margin: 2rem auto 0;
}

.main-wrapper-copyright small {
    font-size: 1rem;
}

@media screen and (max-width: 490px) {
    .main-wrapper-copyright small {
        font-size: .8rem;
    }
}

/* back to top - link */
#back-to-top {
    background-color: #0e465b;
    border-radius: 50%;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 9rem;
    height: 9rem;
    width: 9rem;
    opacity: .7;
    position: fixed;
    right: 8%;
    bottom: 8vh;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 3;
}

@media screen and (max-width: 590px) {
    #back-to-top {
        font-size: .6rem;
        line-height: 5rem;
        height: 5rem;
        width: 5rem;
        bottom: 3vh;
    }
}

#back-to-top:hover {
    opacity: .8;
}

#back-to-top:active {
    opacity: 1;
}

/* END --> "FOOTER" */


/* START --> "CONTACT US PAGE" */

#contact-main-wrapper {
    padding: 5rem 10%;
}

@media screen and (max-width: 400px) {
    #contact-main-wrapper {
        padding-top: 3rem;
    }
}

#contact-main-heading {
    font-weight: bold;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 40rem;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
    #contact-form {
        width: 100%;
    }
}

#contact-todo {
    margin: 2rem auto;
}

.form-item-box {
    margin-bottom: 1rem;
    font-weight: bold;
}

.form-item-box > *:not(datalist) {
    display: block;
}

/* input fields */
.form-item-box > input {
    width: 100%;
    height: 2rem;
    padding: 1rem 1rem;
    font-size: .9rem;
}

/* what time available for chat? */
#call-time-container {
    display: flex;
    flex-wrap: wrap;
}

#call-time-container > p {
    margin-bottom: .5rem;
    width: 100%;
}

#military-time {
    font-weight: normal;
    font-style: italic;
}

.call-time-inner-wrapper {
    text-align: center;
    width: 50%;
}

@media screen and (max-width: 415px) {
    .call-time-inner-wrapper {
        text-align: center;
        width: 100%;
    }
    .call-time-inner-wrapper > label {
        width: 3rem;
    }
}

#from-call-time,
#to-call-time {
    margin-left: 5%;
    padding: 0 .5rem;
    width: 60%;
}

/* message */
#message {
    width: 100%;
    height: 10rem;
    padding: 1rem;
    resize: none;
}

/* agree to terns checkbox */
#agree-to-terms-inner-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

#agree-to-terms {
    margin-right: 1rem;
    transform: scale(1.2);
}

label[for="agree-to-terms"] {
    font-size: .9rem;
    font-style: italic;
}

@media screen and (max-width: 415px) {
    label[for="agree-to-terms"] {
        font-size: .75rem;
    }
}

/* required */
#required {
    font-size: .9rem;
    font-style: italic;
    margin-top: 1rem;
}

@media screen and (max-width: 415px) {
    #required {
        font-size: .75rem; 
    }
}

/* END --> "CONTACT US" */

/* START --> "DESTINATIONS PAGE" */

#destinations-main-wrapper {
    padding: 5rem 10%;
}

#destinations-main-heading {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

#destinations-outer-wrapper {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 6rem auto 0;
    width: 100%;
}

.destinations-inner-wrapper {
    background-color: var(--clr-dutch-white);
    display: flex;
    height: 35rem;
    width: 48%;
    position: relative;
    margin-bottom: 4rem;
}

.primary-img-box {
    background-color: #70BCC7;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px var(--clr-khaki);
    height: 31.25rem;
    min-width: 20.8rem;
    overflow: hidden;
}

.primary-img-box:hover {
    z-index: 1;
}

.primary-img {
    width: 100%;
}

.secondary-img-box {
    border-radius: 10%;
    box-shadow: 0 0 5px 2px var(--clr-khaki);
    height: 12.48rem;
    width: 18.72rem;
    overflow: hidden;
    position: absolute;
    left: 6rem;
    top: 64%;
}

.secondary-img {
    position: relative;
    bottom: 2rem;
    width: 118%;
}

.text-inner-wrapper {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: start;
    padding: 4rem 5rem 2.5rem 5rem; 
}

h2.country {
    border-bottom: 6px solid var(--clr-blue-sapphire);
    color: var(--clr-indigo);
    font-size: 2.2rem;
    line-height: 3.5rem;
}

.country-description {
    font-size: 1.2rem;
    line-height: 2.2rem;
}

/* media queries - Destinations Page */

@media screen and (max-width: 1870px) {
    .text-inner-wrapper {
        padding-top: 2rem;
        padding-right: 2.5rem;
    }
}

@media screen and (max-width: 1720px) {
    #destinations-main-wrapper {
        padding-right: 5%;
        padding-left: 5%;
    }
}

@media screen and (max-width: 1530px) {
    .primary-img-box {
        height: 27rem;
        min-width: 18rem;
    }    
    
    .secondary-img-box {
        height: 9rem;
        width: 13.5rem;
        left: 6rem;
    }

    .text-inner-wrapper {
        padding-left: 2.8rem;
    }

    .country-description {
        font-size: 1.1rem;
        line-height: 2rem;
        margin: 0;
    }
}

@media screen and (max-width: 1265px) {
    .primary-img-box {
        height: 22rem;
        min-width: 14.7rem;
    }

    .secondary-img-box {
        top: 56%;
        left: 1.4rem;
    }

    .text-inner-wrapper {
        padding-top: 0;
        padding-right: 2rem;
        padding-left: 1rem;
    }

    .country-description {
        line-height: 1.8rem;
    }
}

@media screen and (max-width: 1065px) {
    #destinations-outer-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .destinations-inner-wrapper {
        width: 100%;
    }

    .primary-img-box {
        height: 30rem;
        min-width: 20rem;
    }

    .secondary-img-box {
        height: 11rem;
        width: 16.6rem;
        top: 70%;
        left: 8rem;
    }

    .text-inner-wrapper {
        padding: 2rem 1rem 2rem 2rem;
    }
}

@media screen and (max-width: 650px) {
    #destinations-outer-wrapper {
        margin-top: 4rem;
    }

    .destinations-inner-wrapper {
        align-items: center;
        flex-direction: column;
        height: auto;
    }

    .destinations-inner-wrapper:not(:last-child) {
        margin-bottom: 8rem;
    }

    .destinations-inner-wrapper:last-child {
        margin-bottom: 2rem;
    }

    .primary-img-box {
        min-height: auto;
        max-width: 80%;
        order: -1;
    }

    .secondary-img-box {
        position: static;
        order: 3;
    }

    .text-inner-wrapper {
        order: 2;
        padding: 2rem 0 1rem;;
    }
}

/* END --> DESTINATIONS */

/* START --> SUCCESS FEEDBACK ON FORM SUBMITTION & NEWSLETTER SUBSCRIPTION */

.feedback-section {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 10%;
}

.thank-you {
    font-size: 3rem;
    margin-bottom: 3%;
}

@media screen and (max-width: 684px) {
    .thank-you {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 525px) {
    .thank-you {
        font-size: 2rem;
    }
}

@media screen and (max-width: 298px) {
    .thank-you {
        font-size: 1.6rem;
    }
}

.successful {
    font-size: 1.7rem;
}

@media screen and (max-width: 684px) {
    .successful {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 525px) {
    .successful {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 298px) {
    .successful {
        font-size: 1rem;
    }
}

.more-info {
    font-size: 1.2rem;
}

@media screen and (max-width: 684px) {
    .more-info {
        font-size: .9rem;
    }
}

@media screen and (max-width: 298px) {
    .more-info {
        font-size: .8rem;
    }
}

/* END --> SUCCESS RESPONSE ON FORM SUBMISSION */